In [14]:
# Zachary Katz
# zachary_katz@mines.edu
# 02 February 2024

"""
Load feature csv [Obtained from ] and time to next slip csv.
Filter events that have a time to next slip.
"""

# Imports and Extensions
import pandas as pd

# Load data
feature_df = pd.read_csv("./_Data/features.csv")
time_to_slip_df = pd.read_csv("./_Data/filtered_time_to_next_event.csv", index_col=0)
assert feature_df.shape[0] == time_to_slip_df.shape[0], "Dataframe missing events"

# Merge dataframes and drop events without a time to next slip
merged_df = feature_df.merge(time_to_slip_df, left_index=True, right_index=True)
merged_df = merged_df[merged_df["time_to_next_ev_hr"] != -1]
merged_df.to_csv("./_Data/filtered_features.csv")
merged_df.head()

,tide_h,tide_deriv,form_fac,time_since,slip_size,high_t_evt,start_time,tide_height,ev_time_utc,time_to_next_ev_hr
0,-81.877624,-0.268681,1.826057,NaN,-3.054164,0,2008-01-25 01:01:00,-81.877624,2008-01-25 1:50,17.354167
1,33.714046,0.056003,1.826057,1032.50,-1.811724,1,2008-01-25 18:14:00,33.714046,2008-01-25 19:11,21.766667
2,5.033164,-0.032735,1.560612,1302.75,-1.110816,1,2008-01-26 15:56:00,5.033164,2008-01-26 16:57,10.758333
3,-35.730665,-0.056060,1.590570,650.25,-2.703974,0,2008-01-27 02:47:00,-35.730665,2008-01-27 3:42,13.254167
4,-3.994414,-0.121354,1.590570,797.50,-1.704758,0,2008-01-27 16:04:00,-3.994414,2008-01-27 16:58,19.112500